<%= form_for(@router) do |f| %>
  <% if @router.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@router.errors.count, "error") %> prohibited this router from being saved:</h2>

      <ul>
      <% @router.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
